body{
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0%;
    padding: 0%;       
}
:root{
   --backgroundColor:#E1F5FE;
   --yellowColor:#FE9A29;
   --blueColor:#173D7A;
   --grayColor:#525252;
   
}

.btn-login{
    background-color: #172D43;
    color: white !important;
    width:6rem;
    font-size: 
    1rem;
    border-radius: 2rem;
}

.navbar-logo{
    width: 156px !important;
}

.navbar-logo img{
    width: 100%;
}


.section-1{
    width:100% ;
    background-color:var(--backgroundColor);
}

.section-1-left{
    width:100%;
    height:92vh;
    background-image: url(../asset/index/banner.svg);
    background-size: cover;
}

.section-1-right{
    width:100%;
}

.section-1-detail{
    padding-top: 25%;
}

.section-1-h1{
    color: var(--yellowColor);
}

.section-1-p2{
    color:var(--blueColor);
    font-size: 1.45rem;
    padding-bottom: 4%;
}

.section-1-p3{
    color:var(--blueColor);
    font-size:1.5rem;
    font-weight: 500;
    padding-bottom:0.5rem;
    line-height: 0.5em;
}

.section-1-p4, .section-1-p5{
    color:var(--grayColor);
    line-height:0.4em;
}

.section-2{
    margin-top: 10%;
}

.section-2-heading{
    margin-bottom: 2%;
    color:var(--blueColor);
}

.section-2-p1{
    margin-bottom: 2%;
    text-justify: auto;
    color:var(--grayColor);
}

.section-3{
    margin-top: 10%;
}

.section-3-heading{
    margin-bottom: 2%;
    color:var(--blueColor);
}

.section-3-p1{
    margin-bottom: 2%;
    text-justify: auto;
    color:var(--grayColor);
}

.section-4{
    background-color: var(--backgroundColor);
    margin-top: 10%;
}

.section-4-heading, .section-5-heading, .section-6-heading, .section-7-heading{
    padding-top: 2%;
    color:var(--blueColor);
}

.cards{
    padding-bottom: 5%;
}

.cards .card-title{
    font-size: 3rem;
}

.card-row-1 .card:nth-child(1) .card-title{
    color: #66BB6A;
}
.card-row-1 .card:nth-child(2) .card-title{
    color: #29B6F6;
}
.card-row-1 .card:nth-child(3) .card-title{
    color: #D4E157;
}
.card-row-1 .card:nth-child(4) .card-title{
    color: #FFCA28;
}

.card-row-2 .card:nth-child(1) .card-title{
    color: #FF7043;
}
.card-row-2 .card:nth-child(2) .card-title{
    color: #26C6DA;
}
.card-row-2 .card:nth-child(3) .card-title{
    color: #26A69A;
}
.card-row-2 .card:nth-child(4) .card-title{
    color: #7E57C2;
}

.cards .card-subtitle{
    font-size:1.2rem;
}

.cards .card-text{
    font-size: 0.8rem;
}

.card-row-1, .card-row-2{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.card{
    width: 16rem;
    text-align: center;
    border: none;
    border-radius:1rem;
    box-shadow: 6px 4px 4px #dcdcdc;
}

.section-5{
    margin-top: 10%;
}

.section-5-p1, .section-6-p1{
    color:var(--grayColor);
    margin-bottom: 5%;
    font-size: 0.95rem;
}

iframe{
    width: 560px;
    height: 315px;
    margin: 0 auto;
}

.section-6{
    margin-top: 10%;
    padding-bottom: 2%;
    background-color:var(--backgroundColor);
}

.section-6-left-heading, .section-6-right-heading{
    color:var(--yellowColor);
}

.section-6-container li{
    color: var(--grayColor);
}

.section-7-container{
    margin-top: 5%;
}

.section-7-container li{
    color: var(--grayColor);
}

.footer{
    width: 100%;
    height: auto;
    margin-top: 5%;
    background-color:#172D43;
}

.footer-details{
    display: flex;
    justify-content: space-between;
    padding-bottom:2% ;
}

.footer-img{
    padding-top: 6.5%;
}

.footer-detail{
    padding-top: 1.5%;
    color: white;
    font-size: 0.8rem;
}

.footer-detail li:nth-last-child(1){
    padding-top: 5%;
    font-size: 1rem;
}

.footer-heading{
    padding-bottom:4%;
}

.footer-detail p{
    line-height: 0.5rem;
}

.copyrights{
    color: white;
    text-align: center;
}

/*media query*/


/*max-width:1200px*/
@media (max-width:1200px) {

    .section-1-p3{
        color:var(--blueColor);
        line-height: 1em;
    }
}

/*min-width:992px*/
@media (max-width:992px) {
    .section-1-left{
        display: none;
    }
    .section-1-right{
        width: 100vw !important;
        background-image: url(../asset/index/banner_992.svg);
        background-repeat: no-repeat;
        margin: auto;
        line-height: normal;
    }

}

@media(min-width:992px){
    .navbar-expand-lg .navbar-collapse{
        flex-basis: 0%;
    }
}

/*max-width:768px*/
@media (max-width:768px) {
    .section-1-left{
        display: none;
    }

    .section-1{
        display: block;
    }

    .section-1-right{
        background-image: url(../asset/index/banner_992.svg);
        background-repeat: no-repeat;
        line-height: normal;
    }

    .section-1-detail{
        padding-top: 15%;
    }

    .section-4-heading, .section-5-heading, .section-6-heading, .section-7-heading{
        font-size: 1.5rem;
        padding-top: 2%;
        color:var(--blueColor);
    }

    .section-4-container{
        margin: auto;
    }

    .card-row-1, .card-row-2{
        display: inline-block;
        margin-top: 2rem;
        margin: auto;
    }

    .cards{
        padding-bottom: 5%;
        margin: auto;
    }

    .card{
        /* background-color: #172D43; */
        width: 16rem;
        min-height: 14rem;
        text-align: center;
        border: none;
        border-radius:1rem;
        box-shadow: 6px 4px 4px #dcdcdc;
        margin-bottom: 1rem;
        margin-left: 2rem;
    }
}

/*max-width:576px*/
@media (max-width:576px) {
    .section-1-left{
        display: none;
    }
    .section-1-right{
        background-image: url(../asset/index/banner_576.svg);
        background-size: cover;
    }

    .card-row-1, .card-row-2{
        margin-top: 2rem;
    }

    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: center;
    }

    .section-4-container{
        justify-content: center;
        margin: auto;
    }

    iframe{
        width: 200px !important;
    }
}
