html{
    height: 0% !important;
}

body{
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0%;
    padding: 0%;       
}

html{
    margin: 0%;
}
:root{
   --backgroundColor:#E1F5FE;
   --yellowColor:#FE9A29;
   --blueColor:#173D7A;
   --grayColor:#525252;
   
}

.btn-login{
    background-color: #172D43;
    color: white !important;
    width:6rem;
    font-size: 
    1rem;
    border-radius: 0.2rem;
}

/* .navbar-logo{
    width: 10% !important;
} */

.navbar{
    background-color: rgb(250, 252, 255);
}

.nav-link:hover{
    color: #FE9A29 !important;
}

.navbar-logo img{
    width: 100%;
}

.navbar-img{
    width: 25%;
}

.modal-dialog{
   background-color: #000;
   border: none;
}

.modal-content{
    background-color: #E1F5FE;
}

.section-1{
    width:100%;
    background-image: url(../asset/index/banner.jpg);
    background-size: cover;
}

.section-1-left{
    width:100%;
    height:92vh;
    background-image: url(../asset/index/banner.jpg);
    background-size: cover;
}

.section-1-right{
    width:100%;
}

.section-1-detail{
    margin: auto;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-1-h1{
    color: var(--yellowColor);
}

.section-1-p2{
    color:white;
    font-size: 1.45rem;
    padding-bottom:4%;
}

.section-1-p3{
    color:white;
    font-size:1.5rem;
    font-weight: 500;
    padding-bottom:0.5rem;
    line-height: 0.5em;
}

.section-1-p4, .section-1-p5{
    color: #ececec;
    font-size: large;
    /* line-height:0.4em; */
}

.section-2{
    margin-top: 10%;
}

.section-2-heading{
    margin-bottom: 2%;
    color:var(--blueColor);
}

.box{
    transform: translateX(-200%);
    transition: transform 0.4s ease;
}

.box:nth-of-type(even){
    transform: translateX(200%);
    transition: transform 0.4s ease;
}

.box.show{
    transform: translateX(0);
}

.section-2-p1{
    margin-bottom: 2%;
    text-justify: auto;
    color:var(--grayColor);
}

.aws_detail{
    background-color: var(--yellowColor);
    color: white;
    font-size: 18px;
    width: 180px;
    height: 40px;
}

.section-3{
    margin-top: 10%;
}

.section-3-heading{
    margin-bottom: 2%;
    color:var(--blueColor);
}

.section-3-p1{
    margin-bottom: 2%;
    text-justify: auto;
    color:var(--grayColor);
}

.section-4{
    background-image: linear-gradient(to right, #090979 , #00d4ff);
    margin-top: 10%;
}

.section-4-heading, .section-6-heading{
    padding-top: 4%;
    color: white;
}

.section-5-heading, .section-7-heading{
    padding-top: 2%;
    color:var(--blueColor);
}

.cards{
    padding-bottom: 5%;
}

.cards .card-title{
    font-size: 3rem;
}

.card{
    transition: transform 15ms ease-in-out;
}
.card:hover{
    transform: scale(1.1);
    z-index:2;
}

.card-row-1 .card:nth-child(1) .card-title{
    color: #66BB6A;
}
.card-row-1 .card:nth-child(2) .card-title{
    color: #29B6F6;
}
.card-row-1 .card:nth-child(3) .card-title{
    color: #D4E157;
}
.card-row-1 .card:nth-child(4) .card-title{
    color: #FFCA28;
}

.card-row-2 .card:nth-child(1) .card-title{
    color: #FF7043;
}
.card-row-2 .card:nth-child(2) .card-title{
    color: #26C6DA;
}
.card-row-2 .card:nth-child(3) .card-title{
    color: #26A69A;
}
.card-row-2 .card:nth-child(4) .card-title{
    color: #7E57C2;
}

.cards .card-subtitle{
    font-size:1.2rem;
}

.cards .card-text{
    font-size: 0.8rem;
}

.card-row-1, .card-row-2{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.card{
    background: rgb(255, 255, 255);
    width: 16rem;
    text-align: center;
    border: none;
    border-radius:1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

.section-5{
    margin-top: 10%;
}

.section-5-p1{
    color:var(--grayColor);
    margin-bottom: 5%;
    font-size: 0.95rem;
}

.section-6-p1{
    color:white;
    margin-bottom: 5%;
    font-size: 0.95rem;
}

iframe{
    width: 560px;
    height: 315px;
    margin: 0 auto;
}

.section-6{
    display: flex;
    margin-top: 10%;
    padding-bottom: 2%;
    background-image: linear-gradient(to right, #090979 , #00d4ff);
    align-content: center;
    justify-content: center;
}

.section-6-left-heading, .section-6-right-heading{
    color:var(--yellowColor);
}

.section-6-container li{
    color: var(--grayColor);
}

.section-7-container{
    padding-left: 1%;
}

.section-7-container{
    margin-top: 5%;
}

.section-7-container li{
    color: var(--grayColor);
}

.card-section-6{
    width: 100%;
    min-height: 24rem;
}

.card-section-6 i{
   color: var(--yellowColor);
   padding-top: 5%;
   font-size: 6rem;
   padding-bottom: 10%;
}

.footer{
    width: 100%;
    height: auto;
    margin-top: 5%;
    background-color:#172D43;
}

.footer-details{
    display: flex;
    justify-content: space-between;
    padding-bottom:2% ;
}

.footer-img{
    padding-top: 6.5%;
}

.footer-detail{
    padding-top: 1.5%;
    color: white;
    font-size: 0.8rem;
}

.footer-detail li:nth-last-child(1){
    padding-top: 5%;
    font-size: 1rem;
}

.footer-heading{
    padding-bottom:4%;
}

.footer-detail p{
    line-height: 0.5rem;
}

.copyrights{
    color: white;
    text-align: center;
}

/*media query*/


/*max-width:1200px*/
@media (max-width:1200px) {

    .section-1-p3{
        color:white;
        line-height: 1em;
    }

    .box{
        transform: translateX(0);
    }
    
    .box:nth-of-type(even){
        transform: translateX(0);
    }
    
    .box.show{
        transform: translateX(0);
    }
}


/*min-width:992px*/
@media (max-width:992px) {

    .section-1-left{
        display: none;
    }

    .section-1-right{
        background-image: url(../asset/index/banner_576.svg);
        background-repeat: no-repeat;
        width: 100vw !important;
        line-height: normal;
    }

    .section-1-detail{
        padding-top: 1%;
    }

    .box{
        transform: translateX(0);
    }
    
    .box:nth-of-type(even){
        transform: translateX(0);
    }
    
    .box.show{
        transform: translateX(0);
    }

        /*for-company*/
        .section-10 p{
            line-height: normal !important;
        }

}


/*max-width:768px*/
@media (max-width:768px) {


    .section-1-left{
        display: none;
        width: 100vw !important;
    }

    .section-1-right{
        width: 100vw !important;
        background-image: url(../asset/index/banner_992.svg);
        background-repeat: no-repeat;
        margin: 0%;
        padding: 0%;
    }

    .section-1-detail{
        padding-top: 8%;
        padding-left: 10%;
    }

    .section-1-detail img{
        width: 45%;
    }

    .section-1-p4, .section-1-p5{
        line-height: normal;
    }

    .section-4-heading, .section-6-heading{
        font-size: 1.5rem;
        padding-top: 2%;
        color:white;
    }

    .section-5-heading, .section-7-heading{
        font-size: 1.5rem;
        padding-top: 2%;
        color:var(--blueColor);
    }

    .section-4-container{
        margin: auto;
        padding-bottom: 4%;
    }

    .card{
        margin:0% !important;
    }

    .card-row-1, .card-row-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 2rem !important;
        margin-right: 7%;
    }

    .cards{
        display: flex;
        justify-content: center;
        padding-bottom: 8%;
        margin: auto;
    }

    .card{
        /* background-color: #172D43; */
        width: 16rem;
        min-height: 14rem;
        text-align: center;
        border: none;
        border-radius:1rem;
        box-shadow: 6px 4px 4px #dcdcdc;
        margin-bottom: 1rem;
        margin-left: 2rem;
    }

    .section-1-detail{
        padding-top: 5%;
    }

    .box{
        transform: translateX(0);
    }
    
    .box:nth-of-type(even){
        transform: translateX(0);
    }
    
    .box.show{
        transform: translateX(0);
    }

    .tech-card-1{
        padding-bottom: 4%;
    }

    /*for-company*/
    .section-10 p{
        line-height: normal !important;
    }

    .section-11 p{
        line-height: normal !important;
    }
}

/*max-width:576px*/
@media (max-width:576px) {
    .section-1-left{
        display: none;
    }
    .section-1-right{
        background-image: url(../asset/index/banner_576.svg);
        background-size: cover;
    }

    .section-1-p4{
        line-height: normal;
    }

    .section-1-p5{
        line-height: normal;
    }

    .card-row-1, .card-row-2{
        margin-top: 2rem;
        margin:auto;
    }

    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: center;
        padding: 0;
    }

    .section-4-container{
        justify-content: center;
        margin: auto;
        padding-bottom: 2%;
    }

    iframe{
        width: 90vw !important;
        margin: auto;
    }

    .section-7-container{
        padding-left: 6%;
    }

    .footer-details{
        display: block;
    }

    .footer-img{
        padding-top: 2%;
        padding-bottom: 5%;
    }

    .footer-heading{
        padding-bottom: 2%;
    }

    .box{
        transform: translateX(0);
    }
    
    .box:nth-of-type(even){
        transform: translateX(0);
    }
    
    .box.show{
        transform: translateX(0);
    }

    .copyrights{
        font-size: 10px;
    }

    /*for applicants*/
    .section-19-cards{
        display: flex !important;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        column-gap: 5% !important;
    }

    /*for-company*/
    .section-11 p{
        line-height: normal !important;
    }
}

@media (max-width:480px) {

   .section-1-detail{
        padding-left: 4%;
    }
    .section-4-container{
        margin: 0%;
        padding: 0%;
        padding-bottom: 2%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .cards{
        margin: 0%;
        padding: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }

    .card-row-1, .card-row-2{
        margin-top: 2rem;
    }

    .card{
        width: 16rem;
        text-align: center;
        border: none;
        border-radius:1rem;
        box-shadow: none;
    }

    .video-container{
        display: flex;
        justify-content: center;
    }

    .section-7-container{
        padding-left: 8%;
    }

    .box{
        transform: translateX(0);
    }
    
    .box:nth-of-type(even){
        transform: translateX(0);
    }
    
    .box.show{
        transform: translateX(0);
    }

    .footer{
        margin-bottom: 0%;
        padding-bottom: 0%;
    }

        /*for-company*/
        .section-11{
            line-height: normal !important;
        }
}


/* for-company */

.section-8{
    width:100% ;
    background-image: url(../asset/index/banner.jpg);
    background-size:  cover
}

.section-8-detail{
    padding-top: 2%;
    padding-bottom: 2%;
}

.section-8-h1{
    color: white;
   font-size: 2rem;
   
}

.section-9-h1, .section-9-h2 {
    color: var(--blueColor);
}

.section-9-p1, .section-9-p3{
    font-weight: lighter;
    font-size: 16px;
}

.section-9-p2{
    font-weight: 600;
    font-style: italic;
}

.section-10{
    background-color: #fdfdfd;
    border-top: #FE9A29 solid 0.4rem;
    box-shadow: 6px 4px 4px rgb(198, 198, 198);
    padding-top: 2%;
    padding-bottom: 2%;
}

.section-10 img{
    padding-right: 2%;
}

.section-10 h4{
    color: #66BB6A;
    padding-bottom: 2%;
}

.section-10 p{
    font-weight: lighter;
    line-height: 15%;
}

.section-11 p{
    font-weight: lighter;
    line-height: 15%;
    font-size: 16px;
}

.section-12-h1, .section-12-h2 {
    color: var(--blueColor);
}

.section-12-p1, .section-12-p3{
    font-weight: lighter;
    font-size: 14px;
}

.section-12-p2{
    font-weight: 600;
    font-style: italic;
}

.section-13{
    background-color: #fdfdfd;
    border-top: #FE9A29 solid 0.4rem;
    box-shadow: 6px 4px 4px rgb(198, 198, 198);
    padding-top: 2%;
    padding-bottom: 2%;
}

.section-13 img{
    padding-right: 2%;
}

.section-13 h4{
    color: #66BB6A;
    padding-bottom: 2%;
}

.section-13 p{
    font-weight: lighter;
}

.section-13 a{
    background-color: #FE9A29;
    color: white;
}

.section-14{
    background-color: #172D43;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

/*  */
@property --p{
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

.pie {
  --p:20;
  --b:22px;
  --c:darkred;
  --w:150px;
  
  width:var(--w);
  aspect-ratio:1;
  position:relative;
  display:inline-grid;
  margin:5px;
  place-content:center;
  font-size:25px;
  font-weight:bold;
  font-family:sans-serif;
  color: white;
}
.pie:before,
.pie:after {
  content:"";
  position:absolute;
  border-radius:50%;
}
.pie:before {
  inset:0;
  background:
    radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
    conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
          mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}
.pie:after {
  inset:calc(50% - var(--b)/2);
  background:var(--c);
  transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}
.animate {
  animation:p 1s .5s both;
}
.no-round:before {
  background-size:0 0,auto;
}
.no-round:after {
  content:none;
}
@keyframes p {
  from{--p:0}
}

/* body {
  background:#ddd;
} */
/* chart template */

.pie-detail{
    color: white;
    font-weight: lighter;
}

.section-14-header{
    color: aqua;
}

.section-15{
    width:100% ;
    background-image: url(../asset/index/banner.jpg);
    background-size: cover;
}

.section-15-h1{
    color: white;
}

.section-16-h1, .section-16-h2 {
    color: var(--blueColor);
}

.section-16-p1, .section-16-p3{
    font-weight: lighter;
    font-size: 14px;
}

.section-16-p2{
    font-weight: 600;
    font-style: italic;
}


.section-15-detail{
    padding-top: 2%;
    padding-bottom: 2%;
}

.section-16-h1{
    color: #172D43;
   font-size: 2rem;
}

.section-17{
    width:100%;
    background-image: url(../asset/index/banner.jpg);
    background-size: cover;
}

.section-17-detail{
    padding-top: 2%;
    padding-bottom: 2%;
}

.section-17-h1{
    color:white;
}

.section-17-p{
    color: var(--blueColor);
}

.section-18-h1{
    color: var(--blueColor);
}

.section-18-p1{
    color: var(--blueColor);
    padding-bottom: 3%;
}

.section-19-heading {
    padding-top: 2%;
    padding-bottom: 2%;
    color:var(--blueColor);
}

.section-19-cards{
    justify-content: center;
    gap: 3%;
    display: flex;
}

.section-19 .card-subtitle{
    font-size:1rem;
}

.section-19 .cards .card-text{
    font-size: 0.8rem;
    color: #D4E157;
}

.section-19 .card{
    min-height: 12rem;
    text-align: center;
    border: none;
    border-radius:1rem;
    box-shadow: 6px 4px 4px #dcdcdc;
}

.section-19 .card img{
    width: 30%;
    padding-bottom:5%;
}
